/* --------------Branding------------ */

.branding {
    background-color: var( --card-background-color);
    padding: 50px 0;
  }
  
  
  .grid {
    display: grid;
    grid-template-columns: repeat(3, minmax(300px, 1fr));
    grid-gap: 30px;
    }
  
  
  .branding h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: var(--primary-color);
  }
  
  
  
  .branding h2 {
    font-weight: 500;
    margin: 10px 0 20px 0;
  }
  .branding p {
    opacity: 0.7;
  }
  /* ------------End of branding---------- */