@import '../../Styles/mixins.scss';

/* Footer Styling */
footer {
  background-color: var(--header-bg-color); 
  color: var(--light-text-color); 
  padding: 80px 0 40px;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1); 

  /* Layout: Flex with center alignment */
  @include flex-center;
  flex-direction: column;

  /* Footer Content (Grid layout) */
  .footer-content {
    @include grid-layout(3); 
    gap: 40px; 
    width: 90%; 
    max-width: 1480px;
    margin: 0 auto;
    padding: 20px 0; 
  }

  /* Footer Links */
  .footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    a {
      color: var(--text-color); 
      font-weight: bold;
      transition: color 0.3s ease;

      &:hover {
        color: var(--primary-color); /* Link hover color */
      }
    }
  }

  /* Footer Bottom Text */
  .footer-bottom {
    margin-top: 30px;
    font-size: 0.8rem; /* Smaller font size */
    color: var(--text-muted-color); /* Muted text color */
    @include media-query('small') {
      font-size: 0.9rem; /* Larger font size on mobile */
    }
  }
}

/* Responsive Adjustments */
@include media-query('small') {
  footer {
    padding: 60px 0; /* Reduced padding on small screens */
  }

  .footer-content {
    @include grid-layout(1); /* Stack footer content vertically on small screens */
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .footer-bottom {
    font-size: 1rem; /* Increase font size on small screens */
  }
}

@media (max-width: 768px) {
  footer {
    padding: 60px 0;
  }

  .footer-content {
    @include grid-layout(1); /* Stack items vertically on small screens */
  }

  .footer-links {
    flex-direction: column;
    gap: 20px;
    margin-top: 10px;
  }
}