/* Footer Styling */
footer {
  background-color: var(--dark-text-color);
  color: var(--light-text-color);
  padding: 40px 20px;
  text-align: center;
  box-shadow: 0 -4px 8px var(--box-shadow-color);

  .footer-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 20px;
    max-width: 1280px;
    margin: 0 auto;
  }

  .box {
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h2 {
      margin-bottom: 15px;
      font-size: 1.5rem;
      color: var(--secondary-color);
    }

    ul {
      list-style: none;
      padding: 0;
      li {
        margin-bottom: 8px;
        font-size: 1rem;
        cursor: pointer;
        &:hover {
          color: var(--hover-text-color);
        }
      }
    }

    .socialIcons {
      display: flex;
      justify-content: center;
      gap: 10px;
      i {
        font-size: 1.5rem;
        transition: color 0.3s;
        cursor: pointer;
        &:hover {
          color: var(--accent-color);
        }
      }
    }

    .icon {
      display: flex;
      align-items: center;
      gap: 10px;
      i {
        font-size: 1.2rem;
      }
      label {
        font-size: 1rem;
        flex: 1;
      }
    }
  }

  .legal {
    margin-top: 40px;
    font-size: 0.9rem;
    color: var(--text-muted-color);

    span {
      font-weight: bold;
      color: var(--accent-color);
    }
  }

  /* Responsive Styles */
  @media (max-width: var(--breakpoint-mobile-s)) {
    .footer-container {
      grid-template-columns: 1fr;
      gap: 10px;
    }

    .box {
      text-align: center;
      gap: 8px;

      .socialIcons {
        justify-content: center;
      }
    }

    .legal {
      font-size: 0.8rem;
      margin-top: 20px;
    }
  }

  @media (max-width: var(--breakpoint-mobile-m)) {
    .box h2 {
      font-size: 1.4rem;
    }

    ul li {
      font-size: 0.9rem;
    }

    .legal {
      font-size: 0.85rem;
    }
  }

  @media (max-width: var(--breakpoint-mobile-l)) {
    .footer-container {
      gap: 15px;
    }

    ul li {
      font-size: 1rem;
    }

    .legal {
      font-size: 0.9rem;
    }
  }

  @media (max-width: var(--breakpoint-tablet)) {
    padding: 50px 20px;

    .box {
      h2 {
        font-size: 1.3rem;
      }
    }

    .legal {
      font-size: 0.85rem;
    }
  }

  @media (max-width: var(--breakpoint-laptop)) {
    .footer-container {
      max-width: 960px;
    }
  }

  @media (max-width: var(--breakpoint-laptop-l)) {
    .footer-container {
      max-width: 1280px;
      gap: 25px;
    }
  }

  @media (min-width: var(--breakpoint-4k)) {
    padding: 80px 40px;

    .footer-container {
      max-width: 1920px;
      gap: 40px;
    }

    .box h2 {
      font-size: 1.8rem;
    }

    ul li {
      font-size: 1.1rem;
    }

    .legal {
      font-size: 1rem;
    }
  }
}
