/* Footer Styling */
footer {
  background-color: #333;
  color: #fff;
  padding: 80px 0 40px;
  text-align: center;
  box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.1);

  .footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns by default */
    gap: 40px;
    width: 90%;
    max-width: 1480px;
    margin: 0 auto;
    padding: 20px 0;
  }

  .box {
    padding: 10px;
    text-align: left;
  }

  h2 {
    margin-bottom: 15px;
  }

  .socialIcons {
    display: flex;
    justify-content: center;
    gap: 15px;
    i {
      font-size: 1.5rem;
      transition: color 0.3s;
      cursor: pointer;
      &:hover {
        color: #f4a261; /* Example color on hover */
      }
    }
  }

  .footer-links {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-top: 20px;

    a {
      color: #fff;
      font-weight: bold;
      transition: color 0.3s ease;
      &:hover {
        color: #f4a261;
      }
    }
  }

  .legal {
    margin-top: 30px;
    font-size: 0.8rem;
    color: #ccc;
    @media (max-width: 576px) {
      font-size: 1rem;
    }

    span {
      font-weight: bold;
      color: #f4a261;
    }
  }
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  footer {
    padding: 60px 0;
  }

  .footer-container {
    grid-template-columns: 1fr 1fr; /* Stack into 2 columns on tablet */
  }

  .socialIcons {
    justify-content: center;
    i {
      font-size: 1.3rem;
    }
  }

  .legal {
    font-size: 1rem;
  }
}

@media (max-width: 480px) {
  footer {
    padding: 40px 0;
  }

  .footer-container {
    grid-template-columns: 1fr; /* Stack all items vertically on mobile */
    gap: 30px;
  }

  .box {
    text-align: center; /* Center-align text for mobile */
  }

  .socialIcons {
    gap: 10px;
    i {
      font-size: 1.25rem; /* Smaller icons */
    }
  }

  .legal {
    font-size: 1rem;
  }
}
