
/* -------------about section styling--------- */
.mtop {
    margin-top: 50px;
  }
  
  h3 {
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--primary-color);
    margin: 20px 0;
  }
  
  .heading h1 {
    font-size: 28px;
    margin-bottom: 30px;
  }
  
  .about {
    margin-bottom: 20px;
    text-align: justify;
  }
  
  .about p {
    margin-bottom: 20px;
  }
  
  .about .left {
    padding-right: 30px;
  }
  
  .about .icon {
    font-size: 150px; 
    color: var(--primary-color); 
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  
  .about .icon::after {
    content: '';
    position: absolute;
    top: 0;
    left: -50px;
    right: 50%;
    background-color: var(--background-color);
    width: 100px;
    height: 100px;
    z-index: -1;
    opacity: 0.1;
    border-radius: 50%;
  }
  
  