
/* -------blogs--------- */
.blog .heading {
    text-align: center;
  }
  .blog .text {
    margin: 0;
  }
  .blog span {
    opacity: 0.5;
    font-size: 15px;
  }
  .blog h2 {
    margin: 20px 0;
  }
  .blog a {
    color: var(--primary-color);
    display: block;
    line-height: 20px;
  }
  .blog a .icon {
    padding-top: 10px;
  }
  /* ---------blogs-------- */