.home {
    display: block;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-size: cover;
    background-position: center;
    color: #ffffff;
    text-align: center;
    padding: 0 20px;

    .content {
      border-radius: 10px;
      min-width: auto;
      min-height: auto;
      display: flex; 
      flex-direction: column; 
      align-items: flex-start; 
      text-align: left; 
      padding: 1rem; 
      padding-top: 6rem; 
      margin-left: 0; 
    
      .welcome-text {
        font-size: 60px;
        margin-bottom: 1rem;
        font-weight: bold;
      }
    
      .intro {
        font-size: 20px;
        transform: none;
        transition: 1s;
        margin-bottom: 2rem;
        width: 50%;
      }
    
      .primary-btn {
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 1rem;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.3s ease;
      }
    }

    @media (max-width: 768px) {
      .content {
        position: static;
        transform: none;
        margin: auto;
      }
    }
    
    
  }
  