@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif:wght@400;700&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');


* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto", sans-serif;
  line-height: 1.6;
  color: #333;
  margin: 0 auto;
}

/* Standard container */

.container {
  width: 90%;
  max-width: 1480px !important;
  margin: 0 auto;
  padding: 0 1rem;
  box-sizing: border-box;
  position: relative;
}


.img img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.flex {
  display: flex;
  justify-content: space-between;
  gap: 20px; 
}

ul {
  list-style: none;
}
a {
  text-decoration: none;
  color:#000;
}



/* Content shift when sidebar is active */
.main-content {
  margin-left: 0; 
  transition: margin-left 0.3s ease;
}

.main-content.shifted {
  margin-left: 200px; 
}


/*--------------Home styling---------------- */
.left, .right {
  width: 50%;
  position: relative;
}
.flex {
  display: flex;
  height: 100%;
  align-items: center; 
}

.home {
  height: 90vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #f7f7f7;
  padding: 20px 0;
}


.background-animation {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 200%;
  background: linear-gradient(45deg, #1995AD, #A1D6E2, #38d16a); 
  background-size: 200% 200%;
  animation: gradient 3s ease infinite;  
}

@keyframes gradient {
  0% { background-position: 200% 200%; }
  50% { background-position: -200% -200%; }
  100% { background-position: 200% 200%; }
}

.primary-btn {
  padding: 15px 40px;
  background-color: #38d16a;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  border-radius: 8px;
}

.primary-btn:hover {
  background-color: #2f9a56;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}


.home .right {
  margin-top: 10%;
}

.home p {
  color: #38d16a;
  line-height: 30px;
  margin-bottom: 20px;
}



.icon-container {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translateY(-50%); 
  
  i, mat-icon {
    font-size: 280px; 
    color: #38d16a; 
  }
}


/* --------------Branding------------ */

.branding {
  background-color: #08071c;
  color: #fff;
  padding: 50px 0;
}


.grid {
  display: grid;
  grid-template-columns: repeat(3, minmax(300px, 1fr));
  grid-gap: 30px;
  }


.branding h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #38d16a;
}



.branding h2 {
  font-weight: 500;
  font-size: 22px;
  margin: 10px 0 20px 0;
}
.branding p {
  color: #fff;
  opacity: 0.7;
}
/* ------------End of branding---------- */

/* -------------about section styling--------- */
.mtop {
  margin-top: 50px;
}

h3 {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #38d16a;
  margin: 20px 0;
}

.heading h1 {
  font-size: 28px;
  margin-bottom: 30px;
}

.about {
  margin-bottom: 20px;
  text-align: justify;
}

.about p {
  margin-bottom: 20px;
}

.about .left {
  padding-right: 30px;
}

.about .icon {
  font-size: 150px; 
  color: #38d16a; 
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.about .icon::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  right: 50%;
  background-color: #000;
  width: 100px;
  height: 100px;
  z-index: -1;
  opacity: 0.1;
  border-radius: 50%;
}


/* ------------end of about styling section---------- */

/* ----------Services section----------- */
.services {
  text-align: center;
  background-color: #f8f9fe;
  padding: 50px 0;
}
.services .box {
text-align: left;
}
.services img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.services .text {
background-color: #fff;
box-shadow: 0 5px 20px 0 rgba(0 0 0, 6%);
padding: 30px;
margin: 20px;
margin-top: -30px;
position: relative;
z-index: 1;
}
.services .text h2 {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 20px;
}

/* ----------Services section end----------- */

/* --------Wrapper styling-------- */
.wrapper .container {
  max-width: 800px;
  margin: auto;
  text-align: center;
}
.wrapper h2 {
  font-size: 40px;
}
.wrapper p {
  opacity: 1;
  margin-bottom: 30px;
}
/* --------Wrapper styling-------- */


/* ----------SKills section styling........... */
.skill {
  padding: 50px 0;
}
.skill .heading {
text-align: center;
}
.progress {
background-color: #d5d5d5;
border-radius: 20px;
position: relative;
margin: 45px 0;
height: 10px;
width: 90%;
}
.progress h4 {
  position: absolute;
  color: #000;
  top: -30px;
  font-size: 18px;
  font-weight: 500;
}
.progress h4:nth-child(2){
right: 0;
font-size: 17px;
font-weight: 400;
color: #7f9cb5;
}
.progress-done {
  background-color: #38d16a;
  border-radius: 20px;
  color: #fff;
  height: 100%;
  width: 0;
  opacity: 0;
  transition: 1s ease 0.3s;
}
.skill .right {
  padding: 0 50px;
}
.skill .right h1 {
  font-weight: 500;
  margin-bottom: 20px;
}
.skill .right p{
  margin-bottom: 20px;
}
/* End of skills section styling */


/* ----------WrapperOne--------- */
.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 30px;
}
.WrapperOne {
  background: #38d16a;
  text-align: center;
}
.WrapperOne h1 {
  color: #fff;
}
.WrapperOne p{
  font-size: 14px;
  margin: 10px 0;
}
/* ----------WrapperOne--------- */


/* -------blogs--------- */
.blog .heading {
  text-align: center;
}
.blog .text {
  margin: 0;
}
.blog span {
  opacity: 0.5;
  font-size: 15px;
}
.blog h2 {
  margin: 20px 0;
}
.blog a {
  color: #38d16a;
  display: block;
  line-height: 20px;
}
.blog a .icon {
  padding-top: 10px;
}
/* ---------blogs-------- */


/* Contact Us styling */
.contact-us{
  background:#d5d5d5;
}
.contact-us .container{
width: 90%;
max-width: 600px;
padding: 20px 20px;
}
.form {
  margin-bottom: 30px;
  position: relative;
}
input, textarea{
  width: 100%;
  padding: 25px;
  outline: 0;
  border: 1px solid #fff;
  color: black;
  background: #fff;
  font-size: 15px;
}
.form label {
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding: 10px;
  color: black;
  cursor: text;
}
/* End of contact-us styling */


/* ----------footer styling---------- */
footer {
  background-color: #08071c;
  padding: 100px 0 0 0;
  color: #fff;
}
footer p {
  color: #fff;
  margin: 20px 0;
}
footer .socialIcon i {
  background: transparent;
  border: 1px solid #fff;
}
footer h2 {
  margin-bottom: 30px;
  font-size: 20px;
}
footer li {
  color: #fff;
  margin-bottom: 15px;
}
footer li:before {
  content:'.';
  font-size: 50px;
  vertical-align: top;
  line-height: 10px;
  margin-right: 20px;
  color: #38d16a;
}
footer .box p {
  margin: 0;
  margin-top: 15px;
}
footer span {
  color: #38d16a;
  opacity: 1;
}
footer .icon {
margin-top: 20px;
display: flex;
}
footer .icon i {
  color: #38d16a;
  margin-right: 20px;
  width: 20px;
  height: 20px;
}
.legal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid rgba (255 225 225, 0.5);
  margin-top: 70px;
  padding: 20px 0;
}
/* ---------End of footer styling-------- */


@media screen and (max-width: 768px){
  .flex {
    flex-direction: column;
    gap: 20px;
  }

  .container {
    width: 95%;
  }

  .branding h1 {
    font-size: 28px;
  }

  .primary-btn {
    padding: 10px 30px;
    font-size: 14px;
  }


  .left, .right {
    width: 100%;
  }
  .home .container {
    flex-direction: column;
    flex-direction: column-reverse;
  }
  .home {
    height: 134vh;
  }
  .home .img {
    visibility: hidden;
  }
  .branding .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    }
 .grid {
  grid-template-columns: repeat (1, 1fr);
  }
  .about .container {
    flex-direction: column;
  }
  .about .img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .about .img::after {
    display: none;
  }
  .services .grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 30px;
    }
  .wrapper .container {
    max-width: 80%;
  }
  .skill .right {
    padding: 0;
  }
  footer grid1 {
    grid-template-columns: repeat(2 , 1fr);
  }
  .grid1{
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: 30px;
  }
}

